form {
   border-radius: var(--border-radius);
   font-size: inherit;
   display: grid;
   grid-template-columns: 1fr 13ch;
   overflow: hidden;
}

input[type="text"] {
   flex: 1;
   padding: 0.5em 1em;
   border: none;
   outline: none;
   font-size: inherit;
}

button {
   font-size: inherit;
   border: none;
   outline: none;
   padding: 0.5em 1em;
   background-color: #005cc8;
   color: #fff;
   cursor: pointer;
   display: block;
}

.btn-clear {
   margin-top: 1em;
   border-radius: var(--border-radius);
   background-color: hsl(0 50% 50%);
}
