.App {
   max-width: 600px;
   margin-inline: auto;
   padding-block: 3em;
   padding-inline: 1em;
}

.App {
   background-color: #123;
   display: flex;
   flex-direction: column;
   color: white;
}
